# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=cbmdl
DB_PORT=3306

# App Configuration
BASE_URL=/cbmdl/
APP_ENV=local
APP_KEY=773ea7b3de621458e0a6d71b3dc92a2a # Generate a custom random hex string for security
