Options -MultiViews

RewriteEngine On
RewriteBase /cbmdl/

# Redirect .php URLs to extensionless URLs
RewriteCond %{THE_REQUEST} \s/+cbmdl/index\.php(?:[?\s]|$) [NC]
RewriteRule ^index\.php$ /cbmdl/ [R=301,L]

RewriteCond %{THE_REQUEST} \s/+cbmdl/(.+?)\.php(?:[?\s]|$) [NC]
RewriteRule ^(.+)\.php$ /cbmdl/$1 [R=301,L]

# Internally map extensionless URLs to PHP files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L]