Options -MultiViews

RewriteEngine On
RewriteBase /cbmdl/

# Redirect index.php to root URL
RewriteCond %{THE_REQUEST} \s/+cbmdl/index\.php(?:[?\s]|$) [NC]
RewriteRule ^index\.php$ /cbmdl/ [R=301,L]

# Route all requests to index.php if physical file/directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php [QSA,L]